/*

Styling for Hero Slider Start

*/
$themeColor: $secondary;

@import "node_modules/swiper/swiper";
@import "node_modules/swiper/components/navigation/navigation";
@import "node_modules/swiper/components/pagination/pagination";

:root {
  --swiper-navigation-size: 30px;
}


.swiper-container {
  max-width: 350px;
  padding: 2em 0;

  @media (min-width: 600px) {
    max-width: 95%;
  }

  @media (min-width: 992px) {
    max-width: 913px;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: $tertiary;
  }

  .swiper-pagination-bullet {
    border: 1.5px solid $secondary;
  }

  .swiper-wrapper {

    .swiper-slide {
      max-width: 100%;

      img {
        max-width: 180px;
      }
    }
  }
}


/*

Styling for Hero Slider End

*/