main#index {

  .hero {
    margin-top: 3em;

    @media (min-width: 768px) {
      margin-top: 5em;
    }

    .container {

      h1 {

      }

      .slide-outer {

      }

      .btn-wrap {
        margin-top: 1.6em;
      }
    }
  }

  .testimonials {

    @media (min-width: 992px) {
      margin-top: 7em;
    }

    .container {

      h2 {
        margin-bottom: 1.5em;

        @media (min-width: 992px) {
          margin-bottom: 0.5em;
        }
      }
    }
  }

  .books-scroll {

    .container {
      
      @media (min-width: 992px) {
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: 100vh;
      }

      .scroll-wrap {

        @media (min-width: 992px) {
          width: 100%;
          position: relative;
        }

        .sticky {

          @media (min-width: 992px) {
            position: sticky;
            top: 0;
            height: 100vh;
            width: 100%;
            overflow-x: hidden;
          }

          .scroll-stage {
          
            @media (min-width: 992px) {
              position: absolute;
              height: 100%;
              will-change: transform;
              overflow: hidden;
              display: flex;
              align-items: center;
              overflow-x: hidden;
            }

            .cards {
              
              @media (min-width: 992px) {
                position: relative;
                margin-top: 0;
                height: auto;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-start;

                @media (min-width: 992px) {
                  padding-left: calc((100vw - 850px) / 2);
                }

                @media (min-width: 1200px) {
                  padding-left: calc((100vw - 1050px) / 2);
                }
              }

              article {
                margin: 0 auto;

                @media (min-width: 992px) {
                  width: 750px;
                  flex-shrink: 0;
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }

                &:not(:last-of-type) {
                  margin-bottom: 6em;

                  @media (min-width: 992px) {
                    margin-bottom: 0;
                    margin-right: 225px;
                  }
                }

                figure {

                  img {
                    width: 45%;
                    max-width: 270px;

                    @media (min-width: 992px) {
                      width: 100%;
                      max-width: 250px;
                    }
                  }

                  figcaption {
                    display: none;
                  }
                }

                .wrap {

                  @media (min-width: 992px) {
                    margin-left: 50px;
                  }

                  h4 {
                    margin: 1em 0;
                  }

                  p {
                    text-align: left;
                    margin: 0 auto;
                    line-height: 1.6;
                    width: 90%;
                    max-width: 400px;

                    @media (min-width: 992px) {
                      max-width: 450px;
                      text-align: center;
                    }
                  }

                  a.btn {
                    margin-top: 1em;
                    position: relative;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .cta {

    .container {

      h3 {

      }

      a {
        margin: 2em 0;
      }

      figure {

        img {
          margin-top: 1em;
          max-width: 900px;
        }

        figcaption {
          display: none;
        }
      }
    }
  }
}