.btn {
  display: inline-block;
  padding: 1em 2em;
  background-color: $tertiary;
  color: $secondary;

  &:hover {
    background-color: $tertiary-dark;
    color: $secondary;
  }
}

button.btn {
  border: 0;
  font-family: 'EB Garamond', serif;
  cursor: pointer;
}

.btn-link {
  background-color: transparent;
  position: relative;

  &:hover {
    background-color: transparent;

    svg {
      right: 14px;

      path {
        stroke: $tertiary;
      }
    }
  }

  svg {
    width: 9px;
    height: auto;
    margin-left: 8px;
    transition: all 0.25s ease;
    position: absolute;
    top: 52.5%;
    transform: translateY(-50%);
    right: 18px;

    path {
      stroke-width: 5px;
    }
  }
}