span.underline {
  width: 100%;
  height: 3px;
  color: $tertiary;
  background-color: $tertiary;
  position: absolute;
  bottom: 0;
  left: 0;
}

.return {
  padding: 15px;
  background-color: #2D3033;
  border-radius: 5px;
  z-index: 200;
  position: fixed;
  bottom: 10px;
  left: 10px;

  a {
    color: #18A0FB;
    display: flex;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    svg {
      margin-right: 8px;
    }
  }
}