@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oswald&display=swap');

$min_width: 320px;
$max_width: 1200px;
$min_font: 15px;
$max_font: 18px;

html {
  font-family: 'EB Garamond', serif;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  line-height: 1.4;
  letter-spacing: 0.75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  line-height: 1.275;
}

$mod_1: 1.2; // mobile
$mod_2: 1.55; // desktop

h1, .h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2/1.2 *$min_font);
}

h2, .h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2/1.2 *$min_font);
}

h3, .h3 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

h4, .h4 {
  font-size: $mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2 *$min_font);
}

h5, .h5 {
  font-size: $mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2 *$min_font);
}

h6, .h6 {
  font-size: $mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2 *$min_font);
}

.highlight {
  color: $tertiary;
}