.header {
  padding-top: 1em;
  border-bottom: 5px solid $secondary;
  position: relative;
  font-size: 1.2rem;

  .container {

    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      

      > a {
        width: 100%;
        max-width: 150px;

        img {

        }
      }

      nav {

        > ul#nav {
          border-top: 5px solid $tertiary;
          border-bottom: 5px solid $tertiary;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: min-content;
          min-height: 100%;
          padding: 1em 0;
          background-color: $primary;
          z-index: 10000;
          opacity: 0;
          pointer-events: none;
          
          &.expanded {
            opacity: 1;
            pointer-events: all;
            transition: opacity 0.65s ease;
          }

          @media (min-width: 992px) {
            opacity: 1;
            pointer-events: all;
            border: 0;
            position: relative;
            flex-direction: row;
          }

          li {
            padding: 0.5em 0;

            @media(min-width: 992px) {
              padding: 0 0.5em;

            }

            &.sub-menu-hover {

              a.books-link {
                position: relative;

              }

              button {
                background: none;
                border: none;
                cursor: pointer;
                position: absolute;

                @media (min-width: 992px) {
                  position: relative;
                }
                
                svg {
                  position: relative;
                  bottom: 20%;
                  margin-left: 2px;
                }
              }

              ul.sub-menu {
                max-height: 0px;

                @media (min-width: 992px) {
                  width: 100%;
                  position: absolute;
                  max-height: 280px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  padding-top: 1.5em;
                  background-color: $primary;
                  width: max-content;
                  padding: 1em;
                  opacity: 0;
                  pointer-events: all;
                  transition: all 0.5s ease;

                  li {
                    padding-left: 0;
                    
                    &:not(:last-of-type) {
                      padding-bottom: 1em;
                    }
                  }
                }
              }

              &.expanded {

                a.wrap-svg {
                  color: $tertiary;

                  svg {
                    bottom: 0%;
                    color: $tertiary;
                  }
                }

                ul.sub-menu {
                  max-height: 230px;
                }
              }

              &:hover {

                @media(min-width: 992px) {

                  ul.sub-menu {
                    opacity: 1;
                    pointer-events: all;
                  }
                }
              }
            }

            a {
              color: $secondary;

              &:hover {
                color: $tertiary;
              }
            }

            button.modalTrigger {
              background-color: transparent;
              border: 0;
              color: $secondary;
              font-family: inherit;
              cursor: pointer;
              padding: 0.5em;
              position: relative;

              &:hover {
                color: $tertiary;
              }
            }
          }

          ul.sub-menu {
            max-height: 0;
            overflow: hidden;
            transition: all 1.5s ease;
            // z-index: 99;

            li {

              a {

              }
            }
          }

          > li {
            
            a {
              
            }
          }
        }

        #navBtn {
          outline: none;

          @media (min-width: 992px) {
            display: none;
          }
        }
        
        #navBtn.hamburger.is-active {

          .hamburger-inner,
          .hamburger-inner::before,
          .hamburger-inner::after {
            background-color: $tertiary;
          }
        }
      }
    }
  }
}